---
layout: default
title: What have I made
---

<h1>My Projects</h1>
<p>
My software development career starts with PC games. 
The games was the reason I started with programming. 
As you can see, most of the following projects will prove that :)
</p>

{% for category in site.data.projectCategories %}
  <h2> {{ category.name }} </h2>
  <p> {{category.desc }} </p>
   	<ul>
	{% assign file = {{category.name}} | replace: ' ', '_' %}
	{% for project in site.data.projects[{{file}}] %}
  		<li>
		{% if project.link == 'false' %}
			{{project.name}}
		{% else %}
			{% assign link = {{project.name}} | replace: ' ', '_' | append: '.html' %}
			<a href="{{link}}">{{project.name}}</a>
		{% endif %}
		</li>
		{% endfor %}
	</ul>
  <hr>
{% endfor %}


